/******** Social Icon *******/
 .social { float:right; margin:0; text-align:right; padding:0px 0 0 0;}
.social a { display:inline-block; margin:0px 0 0px 5px; border-radius:50%;}
.social a img{border-radius:50%; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.social a img:hover{border-radius:50% 0%; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
body {

  background: #f5f5f5;
    background-image: url("../img/bg.png");
  background-repeat: repeat-x;
}
.main-menu li {
    border-right: 1px solid #d6d6d6;
    float: left;
    margin-right: 1.125em;
    padding-right: 1.125em;
    position: relative;
    text-align: center;
    width: 13%;
}
.main-menu-wrapper {
  margin-left: auto;
  margin-right: auto;
}
.shopping-cart .icon {
  display: block;
  float: left;
  width: 30px;
  height: 45px;
  margin-right: 5px;
  background: url("../img/icon-top-cart.png") no-repeat left top;
   margin-top: -10px;
}
.grid-display .price-badge{
  bottom: 2px;
    font-size: 14px;
    line-height: 140px !important;
    right: -20px;
    width: 110px !important;
}

.grid-display .price-badge .value {
    display: inline-block;
    margin-top: -4px;
    padding-top: -12px;
}

.grid-display .status {
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
  
  background: #f2f2f2;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2VjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #f6f6f6 0%, #ececec 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f6f6f6 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f6f6f6 0%,#ececec 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f6f6f6 0%,#ececec 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f6f6f6 0%,#ececec 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ececec',GradientType=0 ); /* IE6-8 */
    display: none;
    left: 0;
    padding: 6px 14px 6px 10px;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 3;
}
.stylestatus{
    color: white;
    margin-top: -76px !important;
}
.image{
    min-height: 450px;
    border: 1px solid #ccc;
    background-color: white;
    width: 100%;
}
.image img{
    min-height: 450px;
    max-width: 378px !important;
}
.image .zoom_btn { position: absolute; bottom:6px; right:0px; text-decoration: none; width: auto; height: 11px; z-index:21; }
#zoom-image .zoom_bttn { font-size: 10px; text-decoration: none;  line-height: 11px; color: #ababab; text-transform: uppercase; background: #fff url('../image/zoom-plus.png') 2px 2px no-repeat; padding: 1px 1px 1px 16px; }
#zoom-image { color: #ababab; text-decoration: none; display: block; text-align: center;}
.image-additional { width:100%; clear: both; overflow: hidden;background-color: white;  border: 1px solid #ccc; border-top: 0px solid #ccc; }
.image-additional img { width:64px; display:block; }
.image-additional a { float: left; display: block; margin-left:7px; margin-bottom: 10px; }
.image-additional a:active { outline: 0; }
.description{
    text-align: justify;
       color: #888;
    font-family: arial;
    font-size: 14px;
}
.text_about {
    color: #777;
    font-family: arial;
    font-size: 14px;
    text-align: justify;
}
/***** Lightbox image *****/
.lightbox-image {
	position:relative;
	z-index:1;
	overflow:hidden;
	display:inline-block;
	cursor:pointer;
   
}
.lightbox-image img {
	position:relative;
	z-index:1;
}
.lightbox-image span {
	display:inline-block;
	position:absolute;
	left:0px;
	top:-100%;
	width:100%;
	height:100%;
	background:url(../image/magnify.png) no-repeat 50% 50%;
	z-index:2;
	padding:0;
}
.gallery{
  width: 100%;
}
.gallery li{
  border: 1px solid beige;
    color: #999999;
    display: block;
    float: left;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: justify;
    text-decoration: none;
    width: 30%;
}
.gallery li img{
     border-radius: 7px 7px 7px 7px;
     width: 100%;
     height: 300px;
}
.red{
  color: red;
}
select:focus, textarea:focus, input:focus{
  outline-offset: -2px;
   box-shadow: 0 0 0 1px rgba(51, 153, 255, 1) inset, 0 2px 5px rgba(0, 0, 0, 0.35) inset, 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 5px rgba(51, 153, 255, 0.75);

}
input[type="checkbox"], input[type="radio"]{
  width: 10px !important;
  height: 0px !important;
  margin-left: 10px;
}
/*.cart table tr td input[type="checkbox"], .cart table tr td input[type="radio"]{
  width: 10px !important;
  height: 10px !important;
  margin-left: 10px;
}
*/
.cart table tr td input{
    position: relative;
}
.select-menu-main, .select-menu-top {
  background: none repeat scroll 0 0 #c6c6c6;
  color: #757575;
  display: block;
  font-size: 0.688em;
  line-height: 2.182em;
  padding: 0 9px;
  text-decoration: none;
  text-transform: uppercase;
}
.checkout .checkout-list .left-account {
  width: 65%;
  line-height: 2.5em;
    margin-right: 10px;
     float: left;
}
.right-account {
  width: 30%;
  float: left;
   line-height: 2.5em;
    margin-right: 10px;
}
.right-account img{
border-radius: 160px;
width: 80%;
float: right;
}

.inputtext{
  background: none repeat scroll 0 0 #eee;
border: 1px solid #e2e2e2;
color: #989898;
font-family: 'PT Serif',serif;
font-size: 11px;
font-style: italic;
height: 2.8em;
line-height: 2.8em;
padding: 1px 10px 0;
width: 240px;
}
.btn.secondary span{
  width: 95%;
}
.btn {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #cfcfc7;
  color: #fff;
  display: inline-block;
  font-family: 'PT Serif',serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 37px;
  margin-top: 30px;
  padding: 2px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #b4b4ad;
  text-transform: uppercase;
}
.delete{
  text-decoration: none;
}
.rigth{
    text-align: right !important;
}
.left{
    text-align: left;
}
.block{
    display: block;
}
.coklat{
    background-color: #333;
}
.whitefont{
    color: white;
}
.currentmethod{
    background-color:#666666 !important;
    color: white !important;
}
select, textarea{
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #e2e2e2;
  color: #989898;
  font-family: 'PT Serif',serif;
  font-size: 11px;
  font-style: italic;
  height: 2.8em;
  line-height: 2.8em;
  padding: 1px 10px 0;
  width: 65%;
}
.block{
    display: block;
}
.bold{
    font-weight: bold !important;
}
.black{
    color: black;
}
.grid-display .notif {
position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
  padding: 6px 14px 6px 10px;  
  z-index: 4;
  text-align: left;
  
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
  
  background: #f2f2f2;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2VjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #f6f6f6 0%, #ececec 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f6f6f6 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f6f6f6 0%,#ececec 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f6f6f6 0%,#ececec 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f6f6f6 0%,#ececec 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ececec',GradientType=0 ); /* IE6-8 */

}